@charset "UTF-8";
/* CSS Document */

			html, body{
			padding: 0;
			margin: 0;
			font-family: Helvetica, Arial, sans-serif;
			font-size: 12px;
			font-stretch:condensed;
			
			}
			html{
				background:-moz-linear-gradient(top, #055084, #0071BC); /* Firefox */
				background:-webkit-gradient(linear, left top, left bottom, from(#055084), to(#0071BC)); /* Safari, Chrome */
				background:-webkit-linear-gradient(top, #055084, #0071BC); /* Safari, Chrome - neue Syntax! */
				background:-o-linear-gradient(top, #055084, #0071BC); /* Opera */
				background:-ms-linear-gradient(top, #055084, #0071BC); /* IE */
				background:linear-gradient(top, #055084, #0071BC); /* W3C Standard */
				background-color:#0879a9;
				background-image: url(../images/rauschen.png) ;
				margin: 0 0 0 0;
				padding: 0 0 0 0;
			}
				
			body{
				margin: 0 0 0 0;
				padding: 0 0 0 0;
				background-image: url(../images/testbed_bg2.png) ;
				background-repeat: repeat-x; background-position:top;
				
				}
			p{margin: 0; padding:0; line-height: 140%} 
			
			#functions{
				width: 310px;
				padding: 0 0 5px 0;
				float:left;
			}
			
			#status{
				background-color: #fff;
				opacity: 0.8;
				/*width: 650px;*/
				padding: 5px;
				color: #626262;
				position: fixed;/*absolute;*/ 
				bottom: 10px;
				font-size: 10px;
				text-transform:capitalize;
				text-transform:uppercase;
				margin: 0 auto 0 auto 0;;
				-moz-border-radius:4px; /* Firefox */
				-webkit-border-radius:4px; /* Safari, Chrome */
				-khtml-border-radius:4px; /* Konqueror */
				border-radius:4px; /* CSS3 */
				font-weight:bold;
	
			}
			
			#info{
				margin: 0;
				padding: 20px 0;
				text-align: center;
				font-size: 24px;
				margin-left: 320px;
				width: 330px;
				color: #fff;
				opacity: 0.9;
				font-size: 50px;
			
			}
			#content{
				margin-left: auto;
				margin-right: auto;
				padding-top: 20px;
				width: 650px;
				
				}
			
			select,.button{
				-moz-border-radius:4px; /* Firefox */
				-webkit-border-radius:4px; /* Safari, Chrome */
				-khtml-border-radius:4px; /* Konqueror */
				border-radius:4px; /* CSS3 */
				border: 1px solid #a0a0a0;
				
				background: url(../images/rauschen.png), -moz-linear-gradient(top, #626262, #959595); /* Firefox */
				 background:  url(../images/rauschen.png), -webkit-gradient(linear, left top, left bottom, from(#626262), to(#959595)), url(../images/rauschen.png); /* Safari, Chrome*/
				 background: url(../images/rauschen.png), -webkit-linear-gradient(top, #626262, #959595); /* Safari, Chrome - neue Syntax! */
				background:  url(../images/rauschen.png), -o-linear-gradient(top, #626262, #959595); /* Opera */
				background:  url(../images/rauschen.png), -ms-linear-gradient(top, #626262, #959595); /* IE */
				
				
				background:  url(../images/rauschen.png), linear-gradient(top, #626262, #959595); /* W3C Standard */
				
				color: #fff;
				font-family: Helvetica, Arial, sans-serif;
				font-stretch:condensed;
				font-weight:bold;
				font-size:12px;
				width: 250px;
				box-shadow: #000000 0px 0px 5px;
				text-transform:uppercase;
			}
			.button{
				-moz-border-radius:4px; /* Firefox */
				-webkit-border-radius:4px; /* Safari, Chrome */
				-khtml-border-radius:4px; /* Konqueror */
				border-radius:4px; /* CSS3 */
				border: 1px solid #a0a0a0;
				
				background: url(../images/rauschen.png), -moz-linear-gradient(top, #626262, #959595); /* Firefox */
				 background:  url(../images/rauschen.png), -webkit-gradient(linear, left top, left bottom, from(#626262), to(#959595)), url(../images/rauschen.png); /* Safari, Chrome*/
				 background: url(../images/rauschen.png), -webkit-linear-gradient(top, #626262, #959595); /* Safari, Chrome - neue Syntax! */
				background:  url(../images/rauschen.png), -o-linear-gradient(top, #626262, #959595); /* Opera */
				background:  url(../images/rauschen.png), -ms-linear-gradient(top, #626262, #959595); /* IE */
				
				
				background:  url(../images/rauschen.png), linear-gradient(top, #626262, #959595); /* W3C Standard */
				
				color: #fff;
				font-family: Helvetica, Arial, sans-serif;
				font-stretch:condensed;
				font-weight:bold;
				font-size:12px;
				width: 250px;
				box-shadow: #000000 0px 0px 5px;
				text-transform:uppercase;
			}
			
			
			select{
				-moz-border-radius:4px; /* Firefox */
				-webkit-border-radius:4px; /* Safari, Chrome */
				-khtml-border-radius:4px; /* Konqueror */
				border-radius:4px; /* CSS3 */
				border: 1px solid #a0a0a0;
				
				background: url(../images/rauschen.png), -moz-linear-gradient(top, #ffb500, #ffff00); /* Firefox */
				 background:  url(../images/rauschen.png), -webkit-gradient(linear, left top, left bottom, from(#ffb500), to(#ffff00)), url(../images/rauschen.png); /* Safari, Chrome*/
				 background: url(../images/rauschen.png), -webkit-linear-gradient(top, #ffb500, #ffff00); /* Safari, Chrome - neue Syntax! */
				background:  url(../images/rauschen.png), -o-linear-gradient(top, #ffb500, #ffff00); /* Opera */
				background:  url(../images/rauschen.png), -ms-linear-gradient(top, #ffb500, #ffff00); /* IE */
				
				
				background:  url(../images/rauschen.png), linear-gradient(top, #ffb500, #ffff00); /* W3C Standard */
				
				color: #000;
				font-family: Helvetica, Arial, sans-serif;
				font-stretch:condensed;
				font-weight:bold;
				font-size:12px;
				width: 250px;
				box-shadow: #000000 0px 0px 5px;
				text-transform:uppercase;
			}
			
			
			select[disabled],input[disabled]{
				opacity: 0.5;
				}
			h2{
				font-size: 14px;
				color: #ffff00;
				text-shadow: #000000 1px 1px 2px;
				text-transform:uppercase;
				
				}
			#message{
					font-weight:normal;
			}
			
			
			#status.error{
        background:  url(../images/rauschen.png), -moz-linear-gradient(top, #ffb500, #ffff00); /* Firefox */
				background:  url(../images/rauschen.png), -webkit-gradient(linear, left top, left bottom, from(#ffb500), to(#ffff00)), url(../images/rauschen.png); /* Safari, Chrome*/
				background:  url(../images/rauschen.png), -webkit-linear-gradient(top, #ffb500, #ffff00); /* Safari, Chrome - neue Syntax! */
				background:  url(../images/rauschen.png), -o-linear-gradient(top, #ffb500, #ffff00); /* Opera */
				background:  url(../images/rauschen.png), -ms-linear-gradient(top, #ffb500, #ffff00); /* IE */
				
				
				background:  url(../images/rauschen.png), linear-gradient(top, #ffb500, #ffff00); /* W3C Standard */
				opacity 1.0;
				color: #FFF;
			}
			h3{
				text-transform:uppercase;
				font-weight: normal;
				color: #ffff00;
				font-size: 11px;
				border-bottom: 1px #fff dotted;
				text-shadow: #000000 1px 1px 2px;
				width: 250px;
				
				}
				#info p{font-size: 14px; margin: 0; padding 0;}
			
