# generated webinos.js
webinos/web_root/webinos.js

# context db
Manager/Context/Storage/data/context.json
webinos/common/manager/context_manager/data/log.json

# android generated build stuff
webinos/platform/android/*/bin/*
webinos/platform/android/*/gen/*
webinos/platform/android/app/assets/modules/webinos.zip
webinos/platform/android/wrt/assets/js/webinos.js

# build stuff
build
out
*.node
linker.lock
*.o
*.class

# gyp generated
webinos/common/manager/certificate_manager/src/Makefile
webinos/common/manager/certificate_manager/src/*.mk

# modules for vehicle connection
webinos/api/vehicle/contrib/vb-con/
webinos/api/vehicle/contrib/vb-con/vc.js
webinos/api/vehicle/contrib/vb-con/jsonrpc.js 
webinos/api/vehicle/lib/webinos.vehicle.most.js
node_modules/dojo-node/
node_modules/.bin/
node_modules/prototype/
node_modules/xmlhttprequest/
RPC/node_modules/dojo-node/
RPC/node_modules/prototype/
RPC/node_modules/xmlhttprequest/

# node_modules
/node_modules/
!/node_modules/webinos/
!/node_modules/expat2.js
!/node_modules/xmldigsig.js

webinos/api/geolocation/node_modules

# generated certificates
*.pem
*.csr
*.crl
*.srl

# target folders
target

# reports folders
reports

# eclipse project files
.project
.settings
/.metadata/

# allow eclipse project files in linux-specific folders.
!webinos/platform/linux/*/*.project

# vstudio prj files
*.sln
*.vcxproj*

# allow vstudio files in windows-specific folders.
!webinos/platform/windows/*/*.sln
!webinos/platform/windows/*/*/*.vcxproj

# waf lock files
.lock-wscript

# backup files
*~

# vi swap file
*.swp

