/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}


body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END */

a, a:focus {
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-focus-ring-color:  rgba(255, 255, 255, 0);
}

body {
	background: #0048ff;
	height: 100%;
	color: #fff;
}
#imgbckgr {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

#numbers {
	margin-top: 20px;
}
#numbers, #timer {
	font-family: 'Bowlby One SC', sans-serif;
}

#nmbrmain {
	font-size: 700%;
	text-shadow: 0 0 10px #fff;
	float: left;
	padding-bottom: 20px;
	text-align: right;
	width: 70%;
}
#nmbrmain p {
	font-size: 10%;
}
#nmbr1, #nmbr2, #nmbr3 {
	font-size: 190%;
	text-shadow: 0 0 10px #fff;
	float: right;
	clear: right;
	margin: 0 2% 10px 0;
}
#nmbr1 p, #nmbr2 p, #nmbr3 p {
	font-size: 34%;
}
#numbers p {
	text-align: right;
}

#timer {
	clear: both;
	width: 100%;
	text-align: center;
	padding-top: 15px;
}
#timer div {
	font-size: 200%;
	text-shadow: 0 0 25px #0033B5;
	padding: 30px 0;
}
#timer a {
	text-decoration: none;
	color: #fff;
	display: block;
	line-height: 25px;
	font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
	font-size: 90%;
	background: #000105;
	box-shadow: 0px 0px 35px #00227A;
	padding: 3px;
}

#graph {
	position: absolute;
	bottom: 12%;
	height: 100px;
	width: 100%;
}
.graphbckgr {
	position: absolute;
	top: 50%;
	width: 100%;
}
.tmpgrph { /* temp img */
	height: 100px;
	width: 100%;
}
.graphbuttons {
	width: 70%;
	margin: 0 auto;
	box-sizing: border-box;  
}
.graphbuttons div, .connectbuttons a {
	font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
	font-size: 80%;
	text-transform: uppercase;
	font-weight: 100;
	width: 33.3%;
	float: left;
	text-align: center;
	box-shadow: 0px 0px 35px #00227A;
	border-radius: 10px;
	line-height: 25px;
	text-shadow: 0 0 15px #00227A;
}

#loader{
	margin: 0;
	padding: 20px 0;
	margin-left: 150px;
	opacity: 0.9;
}

.connectbuttons {
	position: absolute;
	bottom: 0;
	margin: 0 auto;
	width: 100%;
}
.connectbuttons a {
	width: 50%;
	color: #fff;
	text-decoration: none;
}
#nmbrmain, #nmbr1, #nmbr2, #nmbr3, .graphbuttons div {
	cursor: pointer;
}

canvas {
	width: 100%;
	height: 100px;
}

.connectbuttons a, a:focus {
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-focus-ring-color:  rgba(255, 255, 255, 0);
}

/*
#bottomicons {
	position: absolute;
	bottom: 5%;
}*/
/*
.graphicons {
	background: url('img/icons.png');
	width: 382px;
	height: 40px;
	margin: 0 auto;
}
.graphicons div {
	width: 25%;
	float: left;
}*/

/*****************************************
 *             mobile screen
 ****************************************/

@media screen and (min-width: 320px)
{
	body {
		font-size: 14px;
	}
}
/*****************************************
 *             large screen
 ****************************************/

@media screen and (min-width: 1200px)
{
	body {
		font-size: 20px;
	}
	#nmbrmain {
		font-size: 1000%;
		width: 60%;
	}
	#nmbr1, #nmbr2, #nmbr3 {
		font-size: 250%;
	}
	#graph {
		bottom: 16%;
	}
}
