#contextDataTblContainer table{ background:#D3E4E5;
 border:1px solid gray;
 border-collapse:collapse;
 color:#fff;
 font:normal 12px verdana, arial, helvetica, sans-serif;
}

#contextDataTblContainer td, th { color:#363636;
 padding:.4em;
}
#contextDataTblContainer tr { border:1px dotted gray;
}
#contextDataTblContainer thead th, tfoot th { background:#5C443A;
 color:#FFFFFF;
 padding:3px 10px 3px 10px;
 text-align:left;
 text-transform:uppercase;
}
#contextDataTblContainer tbody td a { color:#363636;
 text-decoration:none;
}
#contextDataTblContainer tbody td a:visited { color:gray;
 text-decoration:line-through;
}
#contextDataTblContainer tbody td a:hover { text-decoration:underline;
}
#contextDataTblContainer tbody th a { color:#363636;
 font-weight:normal;
 text-decoration:none;
}
#contextDataTblContainer tbody th a:hover { color:#363636;
}
#contextDataTblContainer tbody td+td+td+td a { background-image:url('bullet_blue.png');
 background-position:left center;
 background-repeat:no-repeat;
 color:#03476F;
 padding-left:15px;
}
#contextDataTblContainer tbody td+td+td+td a:visited { background-image:url('bullet_white.png');
 background-position:left center;
 background-repeat:no-repeat;
}
#contextDataTblContainer tbody th, tbody td { text-align:left;
 vertical-align:top;
}
#contextDataTblContainer tfoot td { background:#5C443A;
 color:#FFFFFF;
 padding-top:3px;
}
#contextDataTblContainer .odd { background:#fff;
}
#contextDataTblContainer tbody tr:hover { background:#99BCBF;
 border:1px solid #03476F;
 color:#000000;
}