body {
    font-family: Helvetica;
}

img {
    border-style: none;
}
 
fieldset {
  min-height: 10em;
}
#status {
    display: block;
    position:absolute;
    top: 12px;
    right: 12px;
    height: 30px;
    border:1px solid #999;
    text-align: center;
    padding-top: 12px;
    padding-left: 5px;
    padding-right: 5px;
 }

h1 {
    position: relative;
    display: inline;
    top: -10px;
    font-size: 140%;
}

.service {
  float: left;
  font-size: 90%;
  padding: 2px;
  padding-left: 40px;
  margin: 2px 5px;
  position: relative;
}

.geolocation {
  background: #9df;
  background-image: url('../images/geo-icon.png');
  background-repeat: no-repeat;
  border: 1px solid #05f;
}

.geo-error {
  color: red;
}

.remote-alert {
  background: #fb5;
  background-image: url('../images/alert-icon.png');
  background-repeat: no-repeat;
  border: 1px solid #a50;
}

.log-line , .log-line-error {
  display: block;
  color: black;
  font-family: monospace;
}
.log-line-error {
  color: red;
}

#logging-console, #raw-logging-console {
    padding: 10px;
    height: 15em;
    max-height: 15em;

    color: #eee;
    font-family: monospace;
    border: solid 1px #aaa;

    overflow: scroll;
}
#logging-console {
    background-color: #fff;
}
#raw-logging-console {
    background-color: #000;
}



#input {
    width: 100%;
    height: 100px;
    font-family: monospace;
}

textarea.disabled {
    background-color: #bbb;
}

#buttonbar {
    margin: 10px;
}


input.button {
    padding: 0.2em 1em;
    margin-top: 0.4em;
}
