html, body{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 24px;
}

#map{
	width: 60%;
	height: 100%;
	float: left;
	position: relative;
	z-index: 1;
}

#bc-nav{
	position: relative;
	width: 40%;
	height: 10%;
	float: left;
	background-color: #1f1f1f;
	background-image: url(/testbed/vehicle/general/rauschen.png);
	background: url(/testbed/vehicle/general/rauschen.png), -webkit-gradient(radial, center center, 0, center center, 460, from(#585E59), to(#1f1f1f));
	background: url(/testbed/vehicle/general/rauschen.png), -webkit-radial-gradient(circle, #585E59, #1f1f1f);
	background: url(/testbed/vehicle/general/rauschen.png), -moz-radial-gradient(circle, #585E59, #1f1f1f);
	background: url(/testbed/vehicle/general/rauschen.png), -ms-radial-gradient(circle, #585E59, #1f1f1f);
	box-shadow: #000000 0px 0px 10px;
	z-index: 150;
}

#bc-full{
	position: relative;
	width: 40%;
	height: 90%;
	float: left;
	box-shadow: #000000 0px 0px 10px;
	z-index: 100;
	
	overflow: hidden;
	background-color: #1f1f1f;
	background-image: url(/testbed/vehicle/general/rauschen.png);
	background: url(/testbed/vehicle/general/rauschen.png), -webkit-gradient(radial, center center, 0, center center, 460, from(#585E59), to(#1f1f1f));
	background: url(/testbed/vehicle/general/rauschen.png), -webkit-radial-gradient(circle, #585E59, #1f1f1f);
	background: url(/testbed/vehicle/general/rauschen.png), -moz-radial-gradient(circle, #585E59, #1f1f1f);
	background: url(/testbed/vehicle/general/rauschen.png), -ms-radial-gradient(circle, #585E59, #1f1f1f);
}

#logo{
	z-index: 200;
	position: fixed;
	top: -5px;
	left: 20px;
	width: 200px;
	height: 45px;
	background-color: #fff;
	box-shadow: #000000 0px 0px 10px;
	-moz-border-radius:4px; 
	-webkit-border-radius:4px; 
	-khtml-border-radius:4px; 
	border-radius:4px; 
}


#loading-bg{
	z-index: 300;
	position: fixed;
	height: 50px;
	width: 60%;
	-moz-border-radius:4px;
	-webkit-border-radius:4px; 
	-khtml-border-radius:4px; 
	border-radius:4px;
	left: 50%;
	margin-left: -30%;
	top: 50%;
	margin-top: -25px;
	background-color: #000;
	opacity: 0.8;
}


#loading-bg{
	z-index: 300;
	position: fixed;
	height: 50px;
	width: 60%;
	-moz-border-radius:4px;
	-webkit-border-radius:4px; 
	-khtml-border-radius:4px; 
	border-radius:4px;
	left: 50%;
	margin-left: -30%;
	top: 50%;
	margin-top: -25px;
	background-color: #000;
	opacity: 0.8;
}



#loading-message{
	z-index: 300;
	position: fixed;
	height: 50px;
	width: 60%;
	left: 50%;
	margin-left: -30%;
	top: 50%;
	margin-top: -25px;
	opacity: 1;
}



#loadingimage{
	opacity: 1;
	padding-top: 8px;
	padding-left: 7px;
	padding-right: 7px;
	float: left;
}

#loadingstatus{
	float: left;
	padding-top: 10px;
	opacity: 1;
	color: #fff;
	text-align: center;
}

#debug{
	float: none;
	clear: both;
}



#bc-full ul {
	list-style: none;
	margin:0px;
	padding: 0px;
}

#bc-full li {
	border-bottom: 1px #CCC  dotted;
	height: 20%;
	color: #fff;
	text-shadow: #313131 1px 1px 2px;
	opacity: 1;
	color: #fff;
	

}


#bc-full ul#doors li , #bc-full ul#windows li  {
	border-bottom: 1px #CCC  dotted;
	height: 25%;
	color: #fff;
	text-shadow: #313131 1px 1px 2px;
	opacity: 1;
	color: #fff;
	

}

#bc-full li a, #bc-full li a:visited, #bc-full li a:link {
	height: 100%;
	display:block;
	text-decoration:none;
	opacity: 1;
	color: #fff;
}

#bc-full li a:hover, 
#bc-full li a:focus {
	text-decoration:none;
	color:auto;
	opacity: 1;
	outline:0;
	color: #fff;
	background-color: #616161;
	box-shadow: inset 0 0 15px #313131;
	-webkit-transition: all .5s ease-in;
  -moz-transition: all .5s ease-in;
  -o-transition: all .5s ease-in;
  -ms-transition: all .5s ease-in;
  transition: all .5s ease-in;
}

#bc-full ul li ul{
	position: relative;
	background-color: orange;
	list-style: none;
	margin: 0px;
	padding: 0px;
	box-shadow: inset 0 0 15px #313131;
	background-image: url(/testbed/vehicle/general/rauschen.png);
	background: url(/testbed/vehicle/general/rauschen.png), -webkit-gradient(radial, center center, 0, center center, 460, from(#ddd), to(#fff));
	background: url(/testbed/vehicle/general/rauschen.png), -webkit-radial-gradient(circle, #ddd, #fff);
	background: url(/testbed/vehicle/general/rauschen.png), -moz-radial-gradient(circle, #ddd, #fff);
 	background: url(/testbed/vehicle/general/rauschen.png), -ms-radial-gradient(circle, #ddd, #fff);
}

#bc-full ul li li{
	font-size: 20px;
	height: 50%;
	max-height: 50%;
	position: relative;
	border-bottom: 0;
}

.propertybox{
	position: relative;
	height: 100%;	
}
.description{
	position: absolute;
	top: 6px;
	left: 6px;
	font-size: 18px;
	font-weight: normal;
}
.value{
	position: absolute;
	width: 60%;
	font-size: 40px;
	bottom: 2px;
	right: 20%;
	text-align: right;
	padding: 0px;
	margin: 0;
}
.unit{
	position: absolute;
	width: 16%;
	bottom: 6px;
	right: 2%;	
	margin: 0;
	padding: 0;
	color: #A8B3AA;
	text-align: left;
	opacity: 1.0;
	font-size: 18px;
	font-weight: normal;
}

#bc-nav ul {
	position: relative;
	float:left;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	text-align: center;
}



#bc-nav ul li {
	float:left;
	list-style:none;
	width: 25%;
	height: 100%;
	text-align: center;
	position: relative;
	font-weight: normal;
	text-shadow: #313131 1px 1px 2px;
}
#bc-nav ul li a, #bc-nav ul li a:link, #bc-nav ul li a:visited{
	position: relative;
	text-decoration:none;
	height: 100%;
	width: 100%;
	color: #fff;
	display: block;
	font-size: 18px;
	-webkit-transition: all .5s ease-out;
  -moz-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  -ms-transition: all .5s ease-out;
  transition: all .5s ease-out;
}


#bc-nav ul li a:hover,
#bc-nav ul li a:focus {
	color:#fff;
	text-decoration:none;
	height: 100%;
	width: 100%;
	outline: 0;
	box-shadow: 0 0 10px #000000;
	font-weight: bold;
	color: #deff00;
	background-color: #616161
}

.toplevellink{
	position: relative;
	top: 30%;

}

.disabled{
 display: none; 
}


.active{
	font-weight: bold;
	box-shadow: inset 0 0 20px #212121;
	

	
}
#selection{
}
#selection-overlay{
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.8;
	z-index: 400;
}

#selection-content{
	position: fixed;
	top: 10%;
	left: 10%;
	width: 74%;
	height: 74%;
	padding: 2%;
	z-index: 401;
	opacity: 1;
	box-shadow: 0 0 20px #000000;
  background-color: #1f1f1f;
  background-image: url(/testbed/vehicle/general/rauschen.png);
  background: url(/testbed/vehicle/general/rauschen.png), -webkit-gradient(radial, center center, 0, center center, 460, from(#585E59), to(#1f1f1f));
  background: url(/testbed/vehicle/general/rauschen.png), -webkit-radial-gradient(circle, #585E59, #1f1f1f);
  background: url(/testbed/vehicle/general/rauschen.png), -moz-radial-gradient(circle, #585E59, #1f1f1f);
  background: url(/testbed/vehicle/general/rauschen.png), -ms-radial-gradient(circle, #585E59, #1f1f1f);

}

#selection-content h1{
	margin: 0 0 10px 0;
	padding-bottom: 5px; 
	font-size: 24px;
	color: #deff00;
	font-weight: normal;
	border-bottom: 1px dotted #fff;
}


#selection-content ul {
	position: relative;
	float:left;
	margin: 0;
	padding: 0;
	width: 100%;

}



#selection-content ul li {
	float:left;
	list-style:none;
	width: 32%;
	height: 15%;
	margin-top: 1%;
	margin-right: 1%;
	text-align: center;
	position: relative;
	font-weight: normal;
	
}



#selection-content ul li a:link, a:visited{
	position: relative;
	text-decoration:none;
	height: 100%;
	width: 100%;
	color:#fff;
	display: block;
	font-size: 18px;
	border: 1px solid #fff;
	opacity: 0.8;	
	

}

#selection-content ul li a.selected{
	opacity: 1;
	font-weight: bold;
}


#selection-content ul li a:hover,
#selection-content ul li a:focus {
	text-decoration:none;
	height: 100%;
	width: 100%;
	outline: 0;
	border: 1px solid #fff;
	font-weight: bold;
	color: #1f1f1f;
	opacity: 1;
	background-color: #fff;
	
}

#pdc{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 300;
	height: 100%;
	width: 60%;
	background-color: #1f1f1f;
	display: none;
	z-index: 2;
}

#pdcApp{
	position: relative;
	height: 200px;
	width: 400px;
	background: url(pdc.png);
	background-repeat: none; background-position:center;
	left: 50%;
	margin-left: -200px;
	top: 50%;
	margin-top: -100px;
}
			
#pdcFront{
	margin-left: 30px;
	margin-top: 19px;
}
			
#pdcRear{
	margin-top: 19px;
	margin-left: 133px;
}
	
.hidden{
	background-color: #1f1f1f;
}

.iconproperty{
	position: absolute;
	top: 30%;
	left: 20%;
	height: 70%;
	height: auto;
}
