extends layout

block content
	style
		.info { font-size: .8em; display:inline-block; }
		.pzpRunning { color: Green; }
		.pzpNotRunning { color: Red; }
		.title { padding: 10px 0px 10px 0px; font-size: 2em; }	
	script(type='text/javascript')
		$(function () {
		});
	div
		div.testSection Test the webinos APIs.
			div.testSectionLink		
				a(target="_blank", href="/tests/api_tests/apiTests.html") webinos api tests
		div.testSection webinos aims to conform to the W3C Widget Packaging and XML Configuration specification.
			div.testSectionLink
				a.slow(href="/widget-tests") W3C widget tests
		div.testSection webinos aims to conform to the W3C XML Digital Signatures for Widgets specification.
			div.testSectionLink
				a.slow(href="/widget-dig-sig-tests") W3C widget digital signature tests
