extends layout

block content
	- if (success)
		div The widget was successfully uninstalled.
			br
			br
			br
		div 
			a(href="/") Go to installed apps
			.
	- else
		div Failed to uninstall widget.